body{
	background: black;
	color:white;
	font-family: sans-serif;
	line-height: 22px;
}
h3{
	color:rgb(48, 176, 219);

}
.button{
	width: 40px;
}
input[type=text],[type=password],select{
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.mainpage{
	margin-top:2%;
	margin-left:32%;
	font-size: 40px;
	font-weight: 10px;
	letter-spacing: 5px;
}
.mainpage a{
	text-decoration: none;
	color:white;
}
.login{
	margin-top:10%;
	padding:10px;
	width: 60%;
	height: 280px;
	margin-left:20%;
	border: 2px;
	font-size: 20px;
	box-shadow: 5px 10px rgb(178, 174, 162,0.3);

}
.login a{
	text-decoration: none;
	color:yellow;
	margin-left:60px;
}
.container{

	padding:30px;
	background: white;
	width:80%;
	height:auto;
	margin:20px;
	color:black;
}
.container:hover{
	transform: translateY(-3%);
	box-shadow: 5px 10px rgb(178, 174, 162,0.3);
}